<div class="con-demoheader">
	<div class="header">
		<div class="left-side"><button class="left-b"></button></div>
		<p>TITLE</p>
		<div class="right-side"><button class="right-b"></button></div>
	</div>


	<div class="header">
		<div class="left-side"></div>
		<p>TITLE</p>
		<div class="right-side"><button class="right-b"></button></div>
	</div>

	<div class="header flex-box box1">
		<div class="left-side"><button class="left-b"></button></div>
		<div class="center-area">
			<input type="text">
		</div>
		<div class="right-side"></div>
	</div>
</div>