<div class="con-demopie">

<div class="pie" data-start="0" data-value="30"></div>
<div class="pie highlight" data-start="30" data-value="30"></div>
<div class="pie" data-start="60" data-value="40"></div>
<div class="pie big" data-start="100" data-value="260"></div>
<!-- <div id='zz' style="
    background: rgba(0,0,0,0.3);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 0px;
pointer-events: none;">我是遮罩</div> -->
<!-- <div><button>链接</button></div>
<div><a href="">我是a标签</a></div>
<div class="bubble1">bubble1</div>
<div class="bubble2">bubble2</div> -->


<div class="finger-container"></div>
<div class="text" style="margin: 30rem 0 0 0;"></div>
<!-- <div class="touch-finger"></div> -->
</div>
