<div class="con-list  goback goinside">

	<ul>
		<li ng-repeat='item in list'>
			<a href={{item.url}} ng-click='displayBtn()'>
				<span>{{$index + 1}}.</span>
				<p>{{item.name}}</p>
			</a>
		</li>
<!-- 	  <li>
	  	<a href="#/demo_nav">
	  		<span>01.</span>
	  		<p> Nav</p>
	  	</a>
	  </li>
	  <li>
	  	<a href="#/demo_map">
	  		<span>02.</span>
	  		<p> Map</p>
	  	</a>
	  </li>
	  <li>
	  	<a href="#/demo_header">
	  		<span>03.</span>
	  		<p> Header</p>
	  	</a>
	  </li>
	  <li>
	  	<a href="#/demo_bubble">
	  		<span>04.</span>
	  		<p> Bubble</p>
	  	</a>
	  </li>
	  <li>
	  	<a href="#/demo_pie">
	  		<span>05.</span>
	  		<p> Pie & Finger</p>
	  	</a>
	  </li>
	  <li>
	  	<a href="#/demo_retina">
	  		<span>06.</span>
	  		<p> Retina</p>
	  	</a>
	  </li> -->
	</ul>
</div>