/**
 * 3.0 Animate
 *
 * ----------------------------------------------------------------------------
 */

 /* Transform */
@mixin transformX ($x: 0) {
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -o-transform: translateX($x);
    -ms-transform: translateX($x);
    transform: translateX($x);
}

@mixin transformScale ($x: 0, $y: 0) {
    -webkit-transform: scale($x,$y);
    -moz-transform: scale($x,$y);
    -o-transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    transform: scale($x,$y);
}

@keyframes slideOutLeft {
    to      { @include transformX(-100%); }
}

@-webkit-keyframes slideOutLeft {
    to      { @include transformX(-100%); }
}

@keyframes slideInRight {
    from    { @include transformX(100%); }
    to      { @include transformX(0); }
}

@-webkit-keyframes slideInRight {
    from    { @include transformX(100%); }
    to      { @include transformX(0); }
}
@keyframes slideOutRight {
    to      { @include transformX(100%); }
}

@-webkit-keyframes slideOutRight {
    to      { @include transformX(100%); }
}


@keyframes slideInLeft {
    from    { @include transformX(-100%); }
    to      { @include transformX(0); }
}

@-webkit-keyframes slideInLeft {
    from    { @include transformX(-100%); }
    to      { @include transformX(0); }
}

@keyframes inLeftOutRight {
    to      { @include transformX(-100%); opacity: 0; }
}

@-webkit-keyframes inLeftOutRight {
    to      { @include transformX(-100%); opacity: 0;}
}

/* appear */
@-webkit-keyframes inopacity {
    from    { opacity: 0.0; }
    to      { opacity: 1.0; }
}

/* hidden */
@-webkit-keyframes Outopacity {
    from    { opacity: 1.0; }
    to      { opacity: 0.0; }
}

.ng-enter{ 
  /*animation: slideInRight 0.5s both ease-out; */
   /*-webkit-transition: all 1s ease-out;*/
   /*animation: inopacity 0.5s both ease-in; */
  /*z-index: 88;  */
}

.rightin.ng-enter {
  animation: slideInRight 0.3s both ease-out;
  z-index: 99;  
}

.rightin.ng-leave{
  animation: slideOutLeft 0.3s both ease-out;
    z-index: 88; 
}

.leftin.ng-enter {
  animation: slideInLeft 0.3s both ease-out;
  z-index: 99;  
}

.leftin.ng-leave{ /*临时*/
  animation: inLeftOutRight 0.3s both ease-out;
    z-index: 88; 
}

.ng-leave{ 
  /*&.goback{*/
    /*animation: slideOutLeft 0.5s both ease-out; */
   /*animation: Outopacity 0.5s both ease-put; */
    /*-webkit-transition: all 1s ease-in; */
    /*z-index: 99; */
/*  }
  &.goinside{
    animation: slideOutRight 0.5s both ease-in; 
    z-index: 99; 
  }*/
}

/* touch-finger */
@keyframes finger {
    from    { opacity: 1.0; @include transformScale(0.5,0.5);}
    to      { opacity: 0.0; @include transformScale(2.5,2.5);}
}

@-moz-keyframes finger {
    from    { opacity: 1.0; @include transformScale(0.5,0.5);}
    to      { opacity: 0.0; @include transformScale(2.5,2.5);}
}

@-webkit-keyframes finger {
    from    { opacity: 1.0; @include transformScale(0.5,0.5);}
    to      { opacity: 0.0; @include transformScale(2.5,2.5);}
}

@-o-keyframes finger {
    from    { opacity: 1.0; @include transformScale(0.5,0.5);}
    to      { opacity: 0.0; @include transformScale(2.5,2.5);}
}

.touch-finger-animation{
  animation: finger 0.3s forwards ease-in;
  -moz-animation: finger 0.3s forwards ease-in;
  -webkit-animation: finger 0.3s forwards ease-in;
  -o-animation: finger 0.3s forwards ease-in;
}  

/* star animation */
@keyframes staranimation {
    from    { background-position: 0 100%;}
    to      { background-position: 0 0%;}
}

@-moz-keyframes staranimation {
    from    { background-position: 0 100%;}
    to      { background-position: 0 0%;}
}

@-webkit-keyframes staranimation {
    from    { background-position: 0 100%;}
    to      { background-position: 0 0%;}
}

@-o-keyframes staranimation {
    from    { background-position: 0 100%;}
    to      { background-position: 0 0%;}
}

/* catalogue animation */
@keyframes cataloguesideout {
    from    { transform: translate(0px, 0px);}
    to      { transform: translate(0px, 100%);}
}

@-moz-keyframes cataloguesideout {
    from    { transform: translate(0px, 0px);}
    to      { transform: translate(0px, 100%);}
}

@-webkit-keyframes cataloguesideout {
    from    { transform: translate(0px, 0px);}
    to      { transform: translate(0px, 100%);}
}

@-o-keyframes cataloguesideout {
    from    { transform: translate(0px, 0px);}
    to      { transform: translate(0px, 100%);}
}

 /*=======================*/
@keyframes cataloguesidein {
    from    { transform: translate(0px, 100%);}
    to      { transform: translate(0px, 0);}
}

@-moz-keyframes cataloguesidein {
    from    { transform: translate(0px, 100%);}
    to      { transform: translate(0px, 0);}
}

@-webkit-keyframes cataloguesidein {
    from    { transform: translate(0px, 100%);}
    to      { transform: translate(0px, 0);}
}

@-o-keyframes cataloguesidein {
    from    { transform: translate(0px, 100%);}
    to      { transform: translate(0px, 0);}
}
 /*=======================*/
.catalogue-sidein{
  animation: cataloguesidein 0.5s forwards;
  -moz-animation: cataloguesidein 0.5s forwards;
  -webkit-animation: cataloguesidein 0.5s forwards;
  -o-animation: cataloguesidein 0.5s forwards;
}  
.catalogue-sideout{
  animation: cataloguesideout 0.5s forwards;
  -moz-animation: cataloguesideout 0.5s forwards;
  -webkit-animation: cataloguesideout 0.5s forwards;
  -o-animation: cataloguesideout 0.5s forwards;
}  