
@import url(http://fonts.googleapis.com/css?family=Lobster);/*&effect=3d&text=UDemo*/
/**
 * 2.0 Global
 *
 * ----------------------------------------------------------------------------
 */
$bg-color: #fbf8f4;
$nav-color: #f6fafe;
$nav-dark-color: darken($nav-color, 10%);
$nav-light-color: lighten($nav-color, 10%);
$text-color: #6f8ba9;
$text-dark-color: darken($text-color, 10%);
$text-light-color: lighten($text-color, 10%);
$line-color: #d7e3f0;

$zindex-nav: 999;


button{
	width:8rem;
	height:4rem;
}

/* flex-display */
@mixin flex-display {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* flex-num */
@mixin flex($columns: 1) {
  -webkit-box-flex: $columns;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $columns;         /* OLD - Firefox 19- */
  width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: $columns;          /* Chrome */
  -ms-flex: $columns;              /* IE 10 */
  flex: $columns;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* line-num */
@mixin line-num($row: 1) {
	overflow: hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:$row;
	-webkit-box-orient:vertical;
}

/* box-redius */
@mixin bor-redius($radius: 1rem) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/* flex-display */
@mixin transform-origin($x: left, $y: center) {
	-moz-transform-origin:$x $y;
	-ms-transform-origin:$x $y;
	-o-transform-origin:$x $y;
	-webkit-transform-origin:$x $y;
	transform-origin:$x $y;
}

/* transform-rotate */
@mixin transform-rotate($deg: 90deg) {
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

/* image-set */
$demo-map1x: sprite-map("img1x/*.png");
$demo-map2x: sprite-map("img2x/*.png"); 
@mixin image-set ($name) {
  	background-position: sprite-position($demo-map1x, $name);
  	/*background: sprite-url($demo-map1x);*/
  	background-image: -webkit-image-set(sprite-url($demo-map1x) 1x, sprite-url($demo-map2x) 2x);
  	background-image: -moz-image-set(sprite-url($demo-map1x) 1x, sprite-url($demo-map2x) 2x);
  	background-image: -ms-image-set(sprite-url($demo-map1x) 1x, sprite-url($demo-map2x) 2x);
}


html{height: 100%;font-size: 10px;}
body{
 	height: 100%; 
 	font-size: 2rem;
}

$hheader: 5rem;

header{
	width: 100%;
	height: $hheader;
	background: #f6fafe;
	border-top: 2px solid #fdfeff;
	border-bottom: 1px solid $line-color;
	color: $text-color;
	position: fixed;
	top: 0px;
	z-index: $zindex-nav;
	text-align: center;

 	&.flex-box{
		@include flex-display;
		justify-content:space-between; 
 	}
	p{
		/*@extend ;*/
		font-size: 3rem;
		width: auto;
		height: inherit;
		line-height: 3rem;
		display: inline-block;
    	/*font-weight: bolder;*/
    	font-family: 'Lobster', cursive;
    	letter-spacing: 0.2rem;
	}
	.left-side, .right-side{
		width: $hheader * 1.2;
		height: 100%;
	}
	.left-side{
		float: left;
	}
	.right-side{
		float: right;
	}
	.left-b, .right-b{
		display: inline-block; 
		width: inherit;
		height: inherit;
		background: none;
		border: 0px;
		outline: none;
		padding: 0px;
		transition: all 200ms ease-out;
		@include flex-display;
	}
	.left-b:active , .right-b:active{
		background: $nav-dark-color;
	}
	.left-b:before, .right-b:before{
/*		$header-imgw: global-img-sprite-width('nav-2');
		$header-imgh: global-img-sprite-height('nav-2');*/
		content: "";
		display: inline-block;
/*		width: $header-imgw;
		height: $header-imgh;*/
		margin: auto;
	}
	.left-b:before{
		$header-backw: image-sprite-width('back');
		$header-backh: image-sprite-height('back');
		width: $header-backw;
		height: $header-backh;
		@include image-sprite('back');
		/*background: url('../../images/nav-2.png') no-repeat center;*/
	}
	.right-b:before{
		$header-searchw: image-sprite-width('search');
		$header-searchh: image-sprite-height('search');
		width: $header-searchw;
		height: $header-searchh;
		@include image-sprite('search');
		/*background: url('../../images/nav-5.png') no-repeat center;;*/
	}
	&.box1 .center-area{@include flex(1);}
	.center-area{
		height: 100%;
		padding: 1rem 0;
		input[type=text]{
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 0 1rem;
			border-radius: 0.8rem;
			outline: none;
		}
	}
}

.animation-box{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*overflow: hidden;*/

	.u-content{
		width: 414px;
		height: 100%;
		padding-top: $hheader;
		position: absolute;
		top:0;
		left: 0;
		z-index: 1;
		/*overflow:hidden;*/ /*无法滑动*/
		float: left;
	}
}

