@charset "UTF-8";
/*image*/
/** vertical /diagonal **/
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* line 56, global-img/*.png */
.global-img-sprite, .con-demoheader .header .left-b:before, .con-demoheader .header .right-b:before {
  background-image: url('/../demo/images/global-img-sd958f7a1d5.png');
  background-repeat: no-repeat;
}

/*@import "img1x/*.png"; */
/*@import "img2x/*.png"; */
/*
@include  all-sprite-sprites; */
/** vertical /diagonal **/
/* line 56, image/*.png */
.image-sprite, header .left-b:before, header .right-b:before {
  background-image: url('/../demo/images/image-sa3ac299d51.png');
  background-repeat: no-repeat;
}

/** vertical /diagonal **/
/* line 504, star/*.png */
.star-sprite {
  background-image: url('/../demo/images/star-s65bf8c70f3.png');
  background-repeat: no-repeat;
}

/*@import "img1x/*.png"; */
/*@import "img2x/*.png"; */
/*
@include  all-sprite-sprites; */
/* line 120, ebook/*.png */
.ebook-sprite, .con-demoebook nav a.back, .con-demoebook nav a.fontsize, .con-demoebook nav a.mode, .con-demoebook nav a.list, .con-demoebook nav a.next, .con-demoebook.night > nav a.back, .con-demoebook.night > nav a.fontsize, .con-demoebook.night > nav a.mode, .con-demoebook.night > nav a.list, .con-demoebook.night > nav a.next {
  background-image: url('/../demo/images/ebook-s18dc0a6033.png');
  background-repeat: no-repeat;
}

/*css*/
/**
 * 1.0 Reset
 * From http://meyerweb.com/eric/tools/css/reset/
 * Last Time Modified: 2015/10/29
 *
 * ----------------------------------------------------------------------------
 */
/* line 8, ../sass/_reset.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 9, ../sass/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, ../sass/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 12, ../sass/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 13, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 14, ../sass/_reset.scss */
caption, th {
  text-align: left;
}

/* line 15, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 16, ../sass/_reset.scss */
q:before, q:after {
  content: '';
}

/* line 17, ../sass/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 18, ../sass/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 19, ../sass/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 20, ../sass/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 21, ../sass/_reset.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 22, ../sass/_reset.scss */
legend {
  color: #000;
}

/* line 22, ../sass/_reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* line 24, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 25, ../sass/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 26, ../sass/_reset.scss */
.cf:after, section:after {
  content: "";
  clear: both;
  display: block;
}

/* line 27, ../sass/_reset.scss */
body {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 28, ../sass/_reset.scss */
::-webkit-scrollbar {
  width: 0px;
}

/* line 29, ../sass/_reset.scss */
::-webkit-scrollbar-thumb {
  background-color: black;
}

/*&effect=3d&text=UDemo*/
/**
 * 2.0 Global
 *
 * ----------------------------------------------------------------------------
 */
/* line 20, ../sass/_global.scss */
button {
  width: 8rem;
  height: 4rem;
}

/* flex-display */
/* flex-num */
/* line-num */
/* box-redius */
/* flex-display */
/* transform-rotate */
/* transform-xy */
/* image-set */
/* line 106, ../sass/_global.scss */
html {
  height: 100%;
  font-size: 10px;
}

/* line 107, ../sass/_global.scss */
body {
  height: 100%;
  font-size: 2rem;
}

/* line 114, ../sass/_global.scss */
header {
  width: 100%;
  height: 5rem;
  background: #f6fafe;
  border-top: 2px solid #fdfeff;
  border-bottom: 1px solid #d7e3f0;
  color: #6f8ba9;
  position: fixed;
  top: 0px;
  z-index: 999;
  text-align: center;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
/* line 126, ../sass/_global.scss */
header.hide {
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
/* line 129, ../sass/_global.scss */
header.flex-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
}
/* line 133, ../sass/_global.scss */
header p {
  /*@extend ;*/
  font-size: 3rem;
  width: auto;
  height: inherit;
  line-height: 3rem;
  display: inline-block;
  /*font-weight: bolder;*/
  font-family: 'Lobster', cursive;
  letter-spacing: 0.2rem;
}
/* line 144, ../sass/_global.scss */
header .left-side, header .right-side {
  width: 6rem;
  height: 100%;
}
/* line 148, ../sass/_global.scss */
header .left-side {
  float: left;
}
/* line 151, ../sass/_global.scss */
header .right-side {
  float: right;
}
/* line 154, ../sass/_global.scss */
header .left-b, header .right-b {
  display: inline-block;
  width: inherit;
  height: inherit;
  background: none;
  border: 0px;
  outline: none;
  padding: 0px;
  transition: all 200ms ease-out;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 165, ../sass/_global.scss */
header .left-b:active, header .right-b:active {
  background: #c8e1f9;
}
/* line 168, ../sass/_global.scss */
header .left-b:before, header .right-b:before {
  /*		$header-imgw: global-img-sprite-width('nav-2');
  		$header-imgh: global-img-sprite-height('nav-2');*/
  content: "";
  display: inline-block;
  /*		width: $header-imgw;
  		height: $header-imgh;*/
  margin: auto;
}
/* line 177, ../sass/_global.scss */
header .left-b:before {
  width: 35px;
  height: 29px;
  background-position: 0 0;
  /*background: url('../../images/nav-2.png') no-repeat center;*/
}
/* line 185, ../sass/_global.scss */
header .right-b:before {
  width: 24px;
  height: 26px;
  background-position: -35px 0;
  /*background: url('../../images/nav-5.png') no-repeat center;;*/
}
/* line 193, ../sass/_global.scss */
header.box1 .center-area {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 194, ../sass/_global.scss */
header .center-area {
  height: 100%;
  padding: 1rem 0;
}
/* line 197, ../sass/_global.scss */
header .center-area input[type=text] {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.8rem;
  outline: none;
}

/* line 208, ../sass/_global.scss */
.animation-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  /*background-color: red;*/
}
/* line 216, ../sass/_global.scss */
.animation-box .u-content {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /*overflow:hidden;*/
  /*鏃犳硶婊戝姩*/
  float: left;
}

/**
 * 3.0 Animate
 *
 * ----------------------------------------------------------------------------
 */
/* Transform */
@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes inLeftOutRight {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes inLeftOutRight {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
/* appear */
@-webkit-keyframes inopacity {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
/* hidden */
@-webkit-keyframes Outopacity {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}
/* line 80, ../sass/_animate.scss */
.ng-enter {
  /*animation: slideInRight 0.5s both ease-out; */
  /*-webkit-transition: all 1s ease-out;*/
  /*animation: inopacity 0.5s both ease-in; */
  /*z-index: 88;  */
}

/* line 87, ../sass/_animate.scss */
.rightin.ng-enter {
  animation: slideInRight 0.3s both ease-out;
  z-index: 99;
}

/* line 92, ../sass/_animate.scss */
.rightin.ng-leave {
  animation: slideOutLeft 0.3s both ease-out;
  z-index: 88;
}

/* line 97, ../sass/_animate.scss */
.leftin.ng-enter {
  animation: slideInLeft 0.3s both ease-out;
  z-index: 99;
}

/* line 102, ../sass/_animate.scss */
.leftin.ng-leave {
  /*涓存椂*/
  animation: inLeftOutRight 0.3s both ease-out;
  z-index: 88;
}

/* line 107, ../sass/_animate.scss */
.ng-leave {
  /*&.goback{*/
  /*animation: slideOutLeft 0.5s both ease-out; */
  /*animation: Outopacity 0.5s both ease-put; */
  /*-webkit-transition: all 1s ease-in; */
  /*z-index: 99; */
  /*  }
    &.goinside{
      animation: slideOutRight 0.5s both ease-in; 
      z-index: 99; 
    }*/
}

/* touch-finger */
@keyframes finger {
  from {
    opacity: 1.0;
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
  }
}
@-moz-keyframes finger {
  from {
    opacity: 1.0;
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
  }
}
@-webkit-keyframes finger {
  from {
    opacity: 1.0;
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
  }
}
@-o-keyframes finger {
  from {
    opacity: 1.0;
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
  }
}
/* line 141, ../sass/_animate.scss */
.touch-finger-animation {
  animation: finger 0.3s forwards ease-in;
  -moz-animation: finger 0.3s forwards ease-in;
  -webkit-animation: finger 0.3s forwards ease-in;
  -o-animation: finger 0.3s forwards ease-in;
}

/* star animation */
@keyframes staranimation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
@-moz-keyframes staranimation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
@-webkit-keyframes staranimation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
@-o-keyframes staranimation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
/* catalogue animation */
@keyframes cataloguesideout {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 100%);
  }
}
@-moz-keyframes cataloguesideout {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 100%);
  }
}
@-webkit-keyframes cataloguesideout {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 100%);
  }
}
@-o-keyframes cataloguesideout {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 100%);
  }
}
/*=======================*/
@keyframes cataloguesidein {
  from {
    transform: translate(0px, 100%);
  }
  to {
    transform: translate(0px, 0);
  }
}
@-moz-keyframes cataloguesidein {
  from {
    transform: translate(0px, 100%);
  }
  to {
    transform: translate(0px, 0);
  }
}
@-webkit-keyframes cataloguesidein {
  from {
    transform: translate(0px, 100%);
  }
  to {
    transform: translate(0px, 0);
  }
}
@-o-keyframes cataloguesidein {
  from {
    transform: translate(0px, 100%);
  }
  to {
    transform: translate(0px, 0);
  }
}
/*=======================*/
/* line 211, ../sass/_animate.scss */
.catalogue-sidein {
  animation: cataloguesidein 0.5s forwards;
  -moz-animation: cataloguesidein 0.5s forwards;
  -webkit-animation: cataloguesidein 0.5s forwards;
  -o-animation: cataloguesidein 0.5s forwards;
}

/* line 217, ../sass/_animate.scss */
.catalogue-sideout {
  animation: cataloguesideout 0.5s forwards;
  -moz-animation: cataloguesideout 0.5s forwards;
  -webkit-animation: cataloguesideout 0.5s forwards;
  -o-animation: cataloguesideout 0.5s forwards;
}

/**
 * 0 List & serach
 */
/* line 18, ../sass/style.scss */
.con-list li, .con-search li {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  background: #fff;
  height: 6.5rem;
  border-bottom: 1px solid #d7e3f0;
  color: #6f8ba9;
  line-height: 6.5rem;
}
/* line 26, ../sass/style.scss */
.con-list li a, .con-search li a {
  width: 100%;
}
/* line 29, ../sass/style.scss */
.con-list li span, .con-search li span {
  font-size: 2.5rem;
  display: inline-block;
  width: 7.5rem;
  height: 100%;
  font-weight: bold;
  border-right: dashed 2px #d7e3f0;
  text-align: center;
  color: #56728f;
  text-shadow: 1px 1px #C4D0FF;
}
/* line 40, ../sass/style.scss */
.con-list li span:before, .con-search li span:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #d7e3f0;
  border-radius: 1rem;
  background: #fff;
  margin: 0px 1rem 0 0;
}
/* line 51, ../sass/style.scss */
.con-list li p, .con-search li p {
  /*@include flex(1);
  @include line-num(2);*/
  display: inline-block;
  padding: 0 1rem;
}
/* line 57, ../sass/style.scss */
.con-list li i, .con-search li i {
  display: inline-block;
  float: right;
  font-size: 0.8rem;
  padding: 0 1rem 0 0;
  color: #8E8E8E;
}

/* line 67, ../sass/style.scss */
.con-search {
  	/*padding: 0.5rem;
  	text-align: center;
  	input{
  		padding: 0.5rem;
  		width: 100%;
  		height: 3rem;
  		border-radius: 1rem;
  
  	}*/
}

/**
 * 1 Nav 
 */
/* line 85, ../sass/style.scss */
.con-demonav button {
  margin: 20rem 0 0 6rem;
}

/* line 89, ../sass/style.scss */
footer {
  width: 100%;
  height: 5rem;
  background: #f6fafe;
  border-top: 1px solid #d7e3f0;
  position: fixed;
  bottom: 0px;
}
/* line 96, ../sass/style.scss */
footer.flex-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 99, ../sass/style.scss */
footer.box1 div {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 100, ../sass/style.scss */
footer div {
  height: 100%;
  text-align: center;
  color: #6f8ba9;
  line-height: 5rem;
  border-left: 1px solid #c8e1f9;
}
/* line 101, ../sass/style.scss */
footer div a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: inherit;
}
/* line 108, ../sass/style.scss */
footer .active {
  background: #6f8ba9;
  color: #fff;
}

/**
 * 3 Header 
 */
/*@include  all-global-img-sprites;  */
/* line 119, ../sass/style.scss */
.con-demoheader {
  background: #A8ACB9;
  height: 100%;
  width: 100%;
  padding: 6rem 0 0 0;
}
/* line 124, ../sass/style.scss */
.con-demoheader .header {
  width: 100%;
  height: 5rem;
  background: #f6fafe;
  margin: 0 0 3rem 0;
  text-align: center;
}
/* line 136, ../sass/style.scss */
.con-demoheader .header.flex-box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
}
/* line 140, ../sass/style.scss */
.con-demoheader .header p {
  color: #6f8ba9;
  width: auto;
  height: inherit;
  line-height: 5rem;
  display: inline-block;
}
/* line 147, ../sass/style.scss */
.con-demoheader .header .left-side, .con-demoheader .header .right-side {
  width: 6rem;
  height: 5rem;
}
/* line 151, ../sass/style.scss */
.con-demoheader .header .left-side {
  float: left;
}
/* line 154, ../sass/style.scss */
.con-demoheader .header .right-side {
  float: right;
}
/* line 157, ../sass/style.scss */
.con-demoheader .header .left-b, .con-demoheader .header .right-b {
  width: inherit;
  height: inherit;
  border: 0px;
  outline: none;
  padding: 0px;
  background: #c8e1f9;
  transition: all 200ms ease-out;
}
/* line 166, ../sass/style.scss */
.con-demoheader .header .left-b:active, .con-demoheader .header .right-b:active {
  background: white;
}
/* line 169, ../sass/style.scss */
.con-demoheader .header .left-b:before, .con-demoheader .header .right-b:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: auto;
}
/* line 178, ../sass/style.scss */
.con-demoheader .header .left-b {
  border-right: 1px #d7e3f0 solid;
}
/* line 181, ../sass/style.scss */
.con-demoheader .header .right-b {
  border-left: 1px #d7e3f0 solid;
}
/* line 184, ../sass/style.scss */
.con-demoheader .header .left-b:before {
  background-position: 0 0;
}
/* line 188, ../sass/style.scss */
.con-demoheader .header .right-b:before {
  background-position: -32px 0;
}
/* line 192, ../sass/style.scss */
.con-demoheader .header.box1 .center-area {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 193, ../sass/style.scss */
.con-demoheader .header .center-area {
  padding: 0.7rem 1rem;
}
/* line 195, ../sass/style.scss */
.con-demoheader .header .center-area input[type=text] {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
}

/**
 * 4 Bubble 
 */
/* line 216, ../sass/style.scss */
.con-demobubble .bubble {
  min-width: 20%;
  max-width: 70%;
  min-height: 4rem;
  display: block;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
  background: #C9EC74;
  position: absolute;
  /*	    top: 6rem;
  	    left: 2rem;*/
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
/* line 230, ../sass/style.scss */
.con-demobubble .bubble.arrow-b:after, .con-demobubble .bubble.arrow-t:before, .con-demobubble .bubble.arrow-l:before, .con-demobubble .bubble.arrow-r:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}
/* line 237, ../sass/style.scss */
.con-demobubble .bubble.arrow-t:before {
  border-width: 0 1rem 1rem;
  border-color: #C9EC74 transparent;
  top: -1rem;
  left: 47px;
}
/* line 243, ../sass/style.scss */
.con-demobubble .bubble.arrow-b:after {
  border-width: 1rem 1rem 0;
  border-color: #C9EC74 transparent;
  bottom: -1rem;
  left: 47px;
}
/* line 249, ../sass/style.scss */
.con-demobubble .bubble.arrow-l:before {
  border-width: 1rem 2rem 1rem 0;
  border-color: transparent #C9EC74;
  top: 1rem;
  left: -1rem;
}
/* line 255, ../sass/style.scss */
.con-demobubble .bubble.arrow-r:after {
  border-width: 1rem 0 1rem 2rem;
  border-color: transparent #C9EC74;
  bottom: 1rem;
  right: -1rem;
}

/**
* 5 Pie & Finger
*/
/* line 268, ../sass/style.scss */
.con-demopie {
  padding-top: 4rem;
  background-color: #AEADD0;
  width: 100%;
  height: 100%;
  /*------- 1 --------*/
  /*------- 2 --------*/
  /*------- 3 --------*/
}
/* line 273, ../sass/style.scss */
.con-demopie .pie {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  left: 150px;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
/* line 281, ../sass/style.scss */
.con-demopie .pie.big {
  width: 200px;
  height: 200px;
  left: 50px;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
/* line 287, ../sass/style.scss */
.con-demopie .pie:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 200px;
  left: -100px;
  border-radius: 100px 0 0 100px;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
/* line 296, ../sass/style.scss */
.con-demopie .pie.big:before {
  left: 0px;
}
/* line 299, ../sass/style.scss */
.con-demopie .pie.big:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 200px;
  left: 100px;
  border-radius: 0 100px 100px 0;
}
/* line 307, ../sass/style.scss */
.con-demopie .pie:nth-of-type(1):before, .con-demopie .pie:nth-of-type(1):after {
  background-color: blue;
}
/* line 310, ../sass/style.scss */
.con-demopie .pie:nth-of-type(2):before, .con-demopie .pie:nth-of-type(2):after {
  background-color: green;
}
/* line 313, ../sass/style.scss */
.con-demopie .pie:nth-of-type(3):before, .con-demopie .pie:nth-of-type(3):after {
  background-color: red;
}
/* line 316, ../sass/style.scss */
.con-demopie .pie:nth-of-type(4):before, .con-demopie .pie:nth-of-type(4):after {
  background-color: yellow;
}
/* line 320, ../sass/style.scss */
.con-demopie .pie[data-start="30"] {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 323, ../sass/style.scss */
.con-demopie .pie[data-value="30"]:before {
  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  -o-transform: rotate(31deg);
  transform: rotate(31deg);
}
/* line 327, ../sass/style.scss */
.con-demopie .pie[data-start="60"] {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 330, ../sass/style.scss */
.con-demopie .pie[data-value="40"]:before {
  -moz-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  -webkit-transform: rotate(41deg);
  -o-transform: rotate(41deg);
  transform: rotate(41deg);
}
/* line 334, ../sass/style.scss */
.con-demopie .pie[data-start="100"] {
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -webkit-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  transform: rotate(100deg);
}
/* line 337, ../sass/style.scss */
.con-demopie .pie[data-value="260"]:before {
  -moz-transform: rotate(260deg);
  -ms-transform: rotate(260deg);
  -webkit-transform: rotate(260deg);
  -o-transform: rotate(260deg);
  transform: rotate(260deg);
}
/* line 341, ../sass/style.scss */
.con-demopie .touch-finger {
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  -moz-box-shadow: 0px 0px 5px #fff inset;
  -webkit-box-shadow: 0px 0px 5px #fff inset;
  box-shadow: 0px 0px 5px #fff inset;
  border: #ccc solid 1px;
  -moz-box-shadow: 0px 0px 5px #fff;
  -webkit-box-shadow: 0px 0px 5px #fff;
  box-shadow: 0px 0px 5px #fff;
  position: absolute;
  opacity: 0.0;
  z-index: 99999;
  pointer-events: none;
}

/**
* 6 Retina
*/
/* line 366, ../sass/style.scss */
.con-demoretina .img1x, .con-demoretina .img2x {
  float: left;
  width: 50%;
}
/* line 367, ../sass/style.scss */
.con-demoretina p {
  text-align: center;
}
/* line 368, ../sass/style.scss */
.con-demoretina span {
  width: 94px;
  height: 94px;
  display: block;
  margin: 1rem 0 0 3rem;
}
/* line 375, ../sass/style.scss */
.con-demoretina .img1x span {
  background-image: url('/../demo/images/img1x-s82e917707f.png');
}
/* line 376, ../sass/style.scss */
.con-demoretina .img1x .img-re {
  background-position: 0 -95px;
}
/* line 379, ../sass/style.scss */
.con-demoretina .img1x .img-hb {
  background-position: 0 0;
}
/* line 382, ../sass/style.scss */
.con-demoretina .img1x .img-tq {
  background-position: 0 -190px;
}
/* line 387, ../sass/style.scss */
.con-demoretina .img2x .img-re {
  background-position: 0 -95px;
  /*background: sprite-url($demo-map1x);*/
  background-image: -webkit-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -moz-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -ms-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
}
/* line 390, ../sass/style.scss */
.con-demoretina .img2x .img-hb {
  background-position: 0 0;
  /*background: sprite-url($demo-map1x);*/
  background-image: -webkit-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -moz-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -ms-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
}
/* line 393, ../sass/style.scss */
.con-demoretina .img2x .img-tq {
  background-position: 0 -190px;
  /*background: sprite-url($demo-map1x);*/
  background-image: -webkit-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -moz-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
  background-image: -ms-image-set(url('/../demo/images/img1x-s82e917707f.png') 1x, url('/../demo/images/img2x-s722563c5c4.png') 2x);
}

/**
* 7 Multi Step Animation
*/
/* line 404, ../sass/style.scss */
.con-demomultistep {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  align-items: center;
}
/* line 410, ../sass/style.scss */
.con-demomultistep button {
  outline: none;
  border: 1rem solid transparent;
  background: #AED6D1;
  color: #55706D;
  border-radius: 40px;
  padding: 2rem;
  overflow: hidden;
  width: 200px;
  line-height: 0rem;
  transition: all        1.2s, border     0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
}
/* line 427, ../sass/style.scss */
.con-demomultistep button span {
  display: inline-block;
  transform: translateX(300px);
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
}
/* line 436, ../sass/style.scss */
.con-demomultistep button:hover {
  text-indent: 0;
  background: #55706D;
  color: #FFE8A3;
  width: 250px;
  border: 1rem solid #8DCCC4;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
/* line 443, ../sass/style.scss */
.con-demomultistep button:hover span {
  transform: translateX(5px);
  opacity: 1;
}

/**
* 8 iframe [Multi Step Animation]
*/
/* line 457, ../sass/style.scss */
.con-demoiframe {
  width: 100%;
  height: 100%;
}
/* line 460, ../sass/style.scss */
.con-demoiframe iframe {
  width: inherit;
  height: inherit;
  border: none;
}

/**
 * 9 DJ list
 */
/* line 472, ../sass/style.scss */
.con-demodjlist {
  width: 100%;
  height: 100%;
}
/* line 475, ../sass/style.scss */
.con-demodjlist ul {
  width: inherit;
}
/* line 477, ../sass/style.scss */
.con-demodjlist ul li {
  width: inherit;
  height: 8rem;
  line-height: 8rem;
  border-bottom: 1px solid #EFEFEF;
  border-top: 1px solid #F7F7F7;
  padding: 0 0 0 2rem;
  transition: background 500ms;
}
/* line 486, ../sass/style.scss */
.con-demodjlist ul li:active {
  background: #DADADA;
}

/**
 * 10 Animation Steps
 */
/* line 497, ../sass/style.scss */
.con-demosteps {
  width: inherit;
  height: inherit;
  background: #f6fafc;
  text-align: center;
  padding: 5rem 0 0 0;
}
/* line 503, ../sass/style.scss */
.con-demosteps i {
  margin: auto;
  display: block;
  width: 103px;
  height: 103px;
  background: url("../../images/star-s65bf8c70f3.png") no-repeat 0 -5871px;
  /*background-size: 0 5800%;*/
  outline: none;
}
/* line 512, ../sass/style.scss */
.con-demosteps i:active {
  background: none;
  outline-color: none;
}
/* line 516, ../sass/style.scss */
.con-demosteps .play {
  animation: staranimation steps(57) 1s 1;
}
/* line 519, ../sass/style.scss */
.con-demosteps .stop {
  animation-play-state: paused;
}

/**
 * 11 Ebook
 */
/* line 529, ../sass/style.scss */
.con-demoebook {
  width: 100%;
  height: 100%;
  /*background: #EBEBEB;*/
}
/* line 534, ../sass/style.scss */
.con-demoebook > p {
  background: #D7D7D7;
  z-index: 1001;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #DCDCDC;
  line-height: 4rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #676767;
}
/* line 547, ../sass/style.scss */
.con-demoebook > p > span {
  display: inline-block;
  float: right;
}
/* line 553, ../sass/style.scss */
.con-demoebook > div.ebook {
  background: #EBEBEB;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  color: #4D4D4D;
  overflow: hidden;
}
/* line 562, ../sass/style.scss */
.con-demoebook > div.ebook .title {
  margin: 1rem 0;
  padding: 3rem 1rem 0 1rem;
}
/* line 566, ../sass/style.scss */
.con-demoebook > div.ebook .content {
  word-wrap: break-word !important;
  max-width: 100%;
  height: auto !important;
  margin: 0 0 15px;
  padding: 0 1rem 4rem 1rem;
}
/* line 575, ../sass/style.scss */
.con-demoebook > div.font1 .title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
}
/* line 580, ../sass/style.scss */
.con-demoebook > div.font1 .content {
  font-size: 2rem !important;
  line-height: 2.4rem;
}
/* line 586, ../sass/style.scss */
.con-demoebook > div.font2 .title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.7rem;
}
/* line 591, ../sass/style.scss */
.con-demoebook > div.font2 .content {
  font-size: 2.2rem !important;
  line-height: 2.6rem;
}
/* line 597, ../sass/style.scss */
.con-demoebook > div.font3 .title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.2rem;
}
/* line 602, ../sass/style.scss */
.con-demoebook > div.font3 .content {
  font-size: 2.4rem !important;
  line-height: 2.8rem;
}
/* line 608, ../sass/style.scss */
.con-demoebook nav {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0.5rem 0;
  border-top: 1px solid #d7e3f0;
  background: #fff;
  z-index: 999;
  overflow: hidden;
  transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
/* line 620, ../sass/style.scss */
.con-demoebook nav.hide {
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
/* line 623, ../sass/style.scss */
.con-demoebook nav a {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  height: 34px;
}
/* line 626, ../sass/style.scss */
.con-demoebook nav a.back {
  background-position: 0 0;
  background-position-x: center;
}
/* line 630, ../sass/style.scss */
.con-demoebook nav a.fontsize {
  background-position: 0 -34px;
  background-position-x: center;
}
/* line 634, ../sass/style.scss */
.con-demoebook nav a.mode {
  background-position: 0 -68px;
  background-position-x: center;
}
/* line 638, ../sass/style.scss */
.con-demoebook nav a.list {
  background-position: 0 -102px;
  background-position-x: center;
}
/* line 642, ../sass/style.scss */
.con-demoebook nav a.next {
  background-position: 0 -136px;
  background-position-x: center;
}
/* line 648, ../sass/style.scss */
.con-demoebook aside {
  transition: background 500ms;
  position: absolute;
  z-index: 1001;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}
/* line 656, ../sass/style.scss */
.con-demoebook aside.fadebackground {
  background: rgba(213, 213, 213, 0.75);
}
/* line 659, ../sass/style.scss */
.con-demoebook aside > div:first-child {
  position: absolute;
  z-index: 1001;
  height: 40%;
  top: 0px;
  left: 0px;
  right: 0px;
}
/* line 667, ../sass/style.scss */
.con-demoebook aside > div:last-child {
  position: absolute;
  z-index: 1001;
  background: #fff;
  height: 60%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1rem;
  border-top: 1px solid #d7e3f0;
  /*transform: translate(0px, 100%);*/
}
/* line 678, ../sass/style.scss */
.con-demoebook aside > div:last-child p {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  display: inline-block;
  width: 100%;
  min-height: 10%;
  font-weight: bold;
}
/* line 686, ../sass/style.scss */
.con-demoebook aside > div:last-child > div {
  height: 90%;
  width: 100%;
  overflow: hidden;
}
/* line 691, ../sass/style.scss */
.con-demoebook aside > div:last-child li {
  border-bottom: 1px #ccc dashed;
  padding: 0.8rem 0 0.8rem 0.5rem;
}
/* line 692, ../sass/style.scss */
.con-demoebook aside > div:last-child li > a {
  width: 100%;
  display: inline-block;
  font-size: 1.5rem;
  outline-color: none;
}
/* line 695, ../sass/style.scss */
.con-demoebook aside > div:last-child li.current {
  background-color: #eee;
}
/* line 697, ../sass/style.scss */
.con-demoebook aside > div:last-child li:last-child {
  text-align: center;
  font-size: 1rem;
  color: #ccc;
  border: none;
  padding: 1rem 0 0 0;
}
/* line 704, ../sass/style.scss */
.con-demoebook aside > div:last-child li:active {
  background-color: #bbb;
}
/* line 709, ../sass/style.scss */
.con-demoebook.night {
  color: #636970;
  background: rgba(69, 69, 69, 0.68);
}
/* line 712, ../sass/style.scss */
.con-demoebook.night.fadebackground {
  background: rgba(69, 69, 69, 0.68);
}
/* line 715, ../sass/style.scss */
.con-demoebook.night > p {
  background: #1B1B1B;
  border-bottom: 3px solid #414141;
}
/* line 720, ../sass/style.scss */
.con-demoebook.night > aside > div:last-child {
  background-color: #2e2e2e;
  border-top-color: #404040;
}
/* line 721, ../sass/style.scss */
.con-demoebook.night > aside > div:last-child a {
  color: #636970;
}
/* line 726, ../sass/style.scss */
.con-demoebook.night > div {
  background: #1a1a1a;
}
/* line 729, ../sass/style.scss */
.con-demoebook.night > nav {
  background-color: #2e2e2e;
  border-top-color: #404040;
}
/* line 733, ../sass/style.scss */
.con-demoebook.night > nav a.back {
  background-position: 0 -272px;
  background-position-x: center;
}
/* line 737, ../sass/style.scss */
.con-demoebook.night > nav a.fontsize {
  background-position: 0 -238px;
  background-position-x: center;
}
/* line 741, ../sass/style.scss */
.con-demoebook.night > nav a.mode {
  background-position: 0 -170px;
  background-position-x: center;
}
/* line 745, ../sass/style.scss */
.con-demoebook.night > nav a.list {
  background-position: 0 -204px;
  background-position-x: center;
}
/* line 749, ../sass/style.scss */
.con-demoebook.night > nav a.next {
  background-position: 0 -306px;
  background-position-x: center;
}
/* line 758, ../sass/style.scss */
.con-demoebook.v2 > div.hide {
  opacity: 0.0;
}
/* line 759, ../sass/style.scss */
.con-demoebook.v2 > div.ebook {
  top: 3rem;
}
/* line 761, ../sass/style.scss */
.con-demoebook.v2 > div.ebook .title {
  padding: 0 1rem;
  margin: 0;
  height: 5rem;
  line-height: 5rem;
}
/* line 768, ../sass/style.scss */
.con-demoebook.v2 > div.midArea {
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -133.33333px;
  margin-left: -100px;
}
/* line 781, ../sass/style.scss */
.con-demoebook.v2 > div.tips {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3rem;
  margin-top: -1.5rem;
  margin-left: -50%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 3rem;
  color: #fff;
}
/* line 798, ../sass/style.scss */
.con-demoebook.v2 > aside {
  transition: none;
  background: rgba(213, 213, 213, 0.75);
}
